{
margin:0;
padding: 0;	
}
header{
	width: 100%;
        height: 50%
	background: #aa5;
}
footer{
	width: 100%;
	
	background: red;
}

a{
	text-decoration: none;
}
ul{
	width: 100%;
	display: inline-flex;
	list-style-type: none;
	justify-content: space-around;
}

li{
	margin-left: 1%;
	justify-content: space-around;
}
nav a{
	text-decoration: none;
	color: #ff4;
	text-transform: uppercase;
	margin-left:5%;
}
.header-nav{
	text-align: center;
}
.header-nav a:hover{
	border-bottom: 2px solid #fff324;
}
.footer-nav{
Text-align: center;
}
