{
margin:0;
padding: 0;	
}
header{
	width: 100%;
        
	background:#cf1ad9;
}
footer{
	width: 100%;
	
	background: #1589d1;
}
h1{
	color: #d1152b;
}

a{
	text-decoration: none;
}
ul{
	width: 100%;
	display: inline-flex;
	list-style-type: none;
	justify-content: space-around;
}

li{
	margin-left: 1%;
	justify-content: space-around;
}
nav a{
	text-decoration: none;
	color: #5a076b;
	text-transform: uppercase;
	margin-left:5%;
}
.header-nav{
	text-align: center;
}
.header-nav a:hover{
	border-bottom: 2px solid #fff324;
	border-right: 2px solid #fff324;
	border-left: 2px solid #fff324;
	border-top: 2px solid #fff324;
}
.footer-nav{
text-align: center;
}
.footer-nav a:hover{
	border-bottom: 2px solid #fff324;
	border-right: 2px solid #fff324;
	border-left: 2px solid #fff324;
	border-top: 2px solid #fff324;
	}
.img{
	margin-left: 400px;
	border-bottom: 15px solid #0ffc03;
	border-right: 15px solid #0ffc03;
	border-left: 15px solid #0ffc03;
	border-top: 15px solid #0ffc03;

}
